<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionGestionPedidos.Properties.Settings.GestionPedidosConnectionString"
            connectionString="Data Source=Juan\BRENES;Initial Catalog=GestionPedidos;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>